*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.kotlin/libsignal-client/target
app/build
app/libs/*.aar
libsignal-client/target/
app/libs/*.jar
libsignal-client/java/client/build/
libsignal-client/java/android/build/
libsignal-client/java/build/
libsignal-client/java/.gradle/
scratch/
.kotlin/sessions/